* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #C55C6F;
}


a {
    color: #c55C6F;
    text-decoration: none;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 120rem;
    background-position: center;
    background-image: url(../img/Background.jpg)

}


.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    width: 120rem;
    height: 10dvh;
    border: .5px #502432 solid;
    background-color: #F5EDEC;

    nav1 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}


.left-header {
        display: flex;
        gap: 1rem;
        align-items: center;

        nav {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
        }

        p{
            font-size: 1rem;
        }

}


.btn {
    padding: .5rem 1.7rem;

    &.nav-btn {
        height: 10dvh;
        display: flex;
        align-items: center;
        border-bottom: 2px transparent solid;
        transition: all ease 1s;

        &:active {
            border-bottom: 2px #46232e solid;
            transform: scale(1.05);
        }

        &:hover {
            border-bottom: 2px #af8391 solid;
            background-color: #f7d6dd;
            transform: scale(1.05);

            p {
                color: #46232e;
            }
        }

    }
}


.main {
    h1{
        background-color: #F5EDEC;
        border-radius: 1rem;
        padding: 10rem 10rem 10rem 90rem;
        margin: 0rem 6rem 0rem 0rem;
    }

    height: calc(90dvh - 16rem);
    display: flex;
    flex-direction: row;
    margin: 6rem 10rem 20rem -50rem;


    .image {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 35.8rem;
        margin: 0rem 5rem 0rem -40rem;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin: 6rem 0rem 0rem 0rem;
    }

    h4 {
        font-size: 7rem;
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 1rem;
        color: #F5EDEC;
        transition: all ease 0.4s;
        &:hover {
            color: #ffffff;
            text-shadow: 0 0 10px rgb(255, 255, 255);
        }
    }

    h6 {
        font-size: 2rem;
        font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: 50;
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: #F5EDEC;
        }

        .description {
            line-height: 5rem;
            color: #F5EDEC;
        }
    }


.divider {
    margin: 7rem 0rem 7rem 0rem;
    border: 1px #F5EDEC solid;
    width: 100%;
}


.abtme {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5EDEC;
    border-radius: 1rem;
    width: 70rem;
    height: 60rem;
}


.aboutme {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5rem 5rem 3rem 3rem;

    .left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    abt{
        margin: 2rem 0rem 1rem 0rem;
        font-size: 2.5rem;
        font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: 50;
        letter-spacing: .5rem;
        text-transform: uppercase;
    }

    .contact {
        display: flex;
        flex-direction: row;

        logo{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 2rem;
            margin: 0rem 0rem 0rem 0rem;
        }

        con{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            p {
            margin: 0rem 1rem;
            font-size: 1.4rem;
            line-height: 2rem;
            }
        }
    }

    .int{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .logo1 {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 7rem;
            margin: 0rem 0rem 0rem 0rem;
        }

        .logo2 {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 6rem;
            gap: 2rem;
            margin: 0rem 0rem 0rem 0rem;
        }
    }
    }

    .divhori{
        margin: 0rem 3rem 3rem 3rem;
        border: 1px #be8a9b solid;
        height: 55rem;
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    abt{
        margin: 1.8rem 0rem 1rem 0rem;
        font-size: 2.5rem;
        font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: 50;
        letter-spacing: .5rem;
        text-transform: uppercase;
    }

        .abt1{
            display: flex;
            flex-direction: row;

            logo1 {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: flex-start;
                width: 2rem;
            }

            p {
                margin: 0rem 1rem;
                font-size: 1.4rem;
                line-height: 2rem;
            }
        }


        .abt2{
            display: flex;
            flex-direction: row;

            logo2 {
                display: flex;
                flex-direction: column;
                align-content: flex-start;
                width: 2rem;
                gap: 5rem;
            }

            textabt{
                display: flex;
                flex-direction: column;
            }

            p1 {
                margin: 0rem 1rem;
                font-size: 1.4rem;
                line-height: 2rem;
            }

            p2 {
                margin: 0rem 1rem;
                font-size: 1rem;
                line-height: 2rem;
            }

        }
    }
}


.artworks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5EDEC;
    border-radius: 1rem;
    width: 70rem;
    height: 100rem;
    margin: 20rem 0rem 20rem 0rem;

    .featured {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    art {
        font-size: 3rem;
        font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: 50;
        letter-spacing: .5rem;
        text-transform: uppercase;
        margin: 5rem 5rem 3rem 0rem;
    }

    pic1x {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin: 0rem 2rem 2rem 2rem;

        .pic1 {
            width: 25rem;
            height: 30rem;
            object-fit: cover;
        }
        .pic2 {
            width: 25rem;
            height: 30rem;
            object-fit: cover;
        }
    }

    pic2x {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin: 0rem 2rem 2rem 2rem;

        .pic3 {
            width: 25rem;
            height: 30rem;
            object-fit: cover;
        }
        .pic4 {
            width: 25rem;
            height: 30rem;
            object-fit: cover;
        }
    }

    pic3x {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin: 0rem 2rem 2rem 2rem;

        .pic5 {
            width: 30rem;
            height: 20rem;
            object-fit: cover;
        }
        .pic6 {
            width: 30rem;
            height: 20rem;
            object-fit: cover;
        }
    }
}


soc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 50;
    letter-spacing: .5rem;
    text-transform: uppercase;
}


.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5EDEC;
    border-radius: 1rem;
    width: 70rem;
    height: 30rem;
    margin: 0rem 0rem 13rem 0rem;

    p{
        font-size: 1.5rem;
    }
}


.soc1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.ins{
    width: 10rem;
}


.twi{
    width: 10rem;
}


.tik{
    width: 10rem;
}


.yt{
    width: 10rem;
}


.btn1 {

    &.soc-btn {
        height: 23dvh;
        display: flex;
        flex-direction: column;

        align-items: center;
        transition: all ease 1s;

        &:hover {
            background-color: #f3c8d2;
            transform: scale(1.05);

            p {
                color: #46232e;
                transition: all ease 1s;
            }
        }

    }
}
